/* ==========================================================================
Buttons
========================================================================== */

.wp-core-ui {

	.button, .button-primary, .button-secondary, .acf-button {
		box-shadow: none !important;
		border: none;
		text-shadow: none;

		&:focus {
			box-shadow: none;
		}
	}

	button {

		&:focus {

			.toggle-indicator:before {
				box-shadow: none !important;
			}
		}
	}
}