/* ==========================================================================
Override default Wordpress styles
========================================================================== */


/**
 * Buttons
 */
.wp-core-ui {

	.button, .button-primary, .button-secondary {
		box-shadow: none;
		border: none;
		text-shadow: none !important;
	}
}

.acf-button {
	background-color: $highlight-color;
	border-color: $highlight-color;
	box-shadow: none;

	&:hover {
		background-color: darken($highlight-color, 5%);
	}
}



/**
 * Form elements
 */
input[type=text], 
input[type=password], 
input[type=checkbox], 
input[type=color], 
input[type=date], 
input[type=datetime], 
input[type=datetime-local], 
input[type=email], 
input[type=month], 
input[type=number], 
input[type=radio], 
input[type=tel], 
input[type=time], 
input[type=url], 
input[type=week], 
input[type=search], 
select, 
textarea,
input[type=submit] {

	box-shadow: none !important;
	text-shadow: none !important;

	&:focus {
		border-color: $highlight-color;
		box-shadow: none;
	}
}



/**
 * Dashboard
 */
.metabox-holder .postbox-container .empty-container {
	border-width: 1px;
}



/**
 * Footer
 */
#footer-thankyou {
	font-style: normal;

	a {
		color: $highlight-color;
	}
}